body {
    background-color: aqua;
}

h2 {
    color: blue !important;
}
h2 {
    color: aqua;
}

.myAwesomeColor {
    color: #ccc;
    background-color: blue;
}
.myCoolBorder {
    border: 2px solid black;
}
#officeHeader {
    background-color: azure;
}